<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="vendor/bower/todomvc-common/base.css">
		<link rel="stylesheet" href="vendor/bower/todomvc-app-css/index.css">
    <script type="text/javascript" src="vendor/bower/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/bower/bacon/dist/Bacon.min.js"></script>
    <script type="text/javascript" src="vendor/bower/handlebars/handlebars.min.js"></script>
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
    <!-- Handlebars templates -->
    <script id="template-todo-list-item" type="text/x-handlebars-template">
      <li class="{{classes}}">
        <div class="view">
          <input class="toggle" type="checkbox" {{#if completed}} checked {{/if}}>
          <label>{{value}}</label>
          <button class="destroy"></button>
        </div>
        <input class="edit" value="{{value}}">
      </li>
    </script>
    <script id="template-todo-count" type="text/x-handlebars-template">
      <strong>{{count}}</strong>
      {{#if plural}}
        items left
      {{else}}
        item left
      {{/if}}
    </script>
    <script id="template-filter-button" type="text/x-handlebars-template">
      <li>
        <a id="filter-{{id}}" class="{{classes}}" href="#">{{label}}</a>
      </li>
    </script>
	</head>
	<body>
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input id="new-todo" class="new-todo" placeholder="What needs to be done?" autofocus>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list" class="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span id="todo-count" class="todo-count"></span>
				<!-- Remove this if you don't implement routing -->
				<ul id="filters" class="filters">
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button id="clear-completed" class="clear-completed">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="vendor/bower/todomvc-common/base.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
